<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Réinitialiser le Mot de Passe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="reset-password-container">
    <h1 class="display-4">Réinitialiser votre Mot de Passe</h1>
    <p class="text-muted">
      Veuillez entrer votre nouveau mot de passe et le confirmer.
    </p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <!-- Nouveau mot de passe -->
      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe</label>
        <input 
          type="password" 
          class="form-control" 
          id="newPassword" 
          placeholder="Entrez votre nouveau mot de passe" 
          formControlName="newPassword"
          (input)="updatePasswordStrength(resetPasswordForm.get('newPassword')?.value)">
        <div class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
          Le mot de passe est requis (6 caractères minimum).
        </div>
      </div>

      <!-- Confirmer le mot de passe -->
      <div class="form-group">
        <label for="confirmPassword">Confirmer le mot de passe</label>
        <input 
          type="password" 
          class="form-control" 
          id="confirmPassword" 
          placeholder="Confirmez votre mot de passe" 
          formControlName="confirmPassword">
        <div class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
          Ce champ est requis.
        </div>
      </div>

      <!-- Barre de progression -->
      <div class="progress mt-3">
        <div 
          class="progress-bar" 
          role="progressbar" 
          [style.width]="passwordStrength + '%'" 
          [ngClass]="{
            'bg-success': passwordStrength === 100, 
            'bg-warning': passwordStrength < 100 && passwordStrength > 0
          }" 
          [attr.aria-valuenow]="passwordStrength" 
          aria-valuemin="0" 
          aria-valuemax="100">
        </div>
      </div><br>

      <!-- Boutons côte à côte -->
      <div class="btn-row">
        <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">
          Réinitialiser
        </button>

        <button type="button" class="btn btn-secondary" (click)="goBack()">
          Retour
        </button>
    </div>

      <p class="text-center text-muted mt-3">
        En cliquant sur "Réinitialiser", vous acceptez les 
        <a href="conditions">Conditions d'utilisation</a> | 
        <a href="politiques">Politique de confidentialité</a>
      </p>

    </form>

   
  </div>
</ion-content>
