.background-image {
    background-image: url('/assets/icon/login.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    text-align: center;
}
  
.login-container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}
  
.login-container p {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 20px;
}
  
.form-group {
    margin-bottom: 20px; /* Augmenté pour un meilleur espacement */
    text-align: left; /* Alignement à gauche des labels */
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* Espacement entre le label et l'input */
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
}

.form-check {
    margin-bottom: 20px;
    text-align: left; /* Alignement à gauche */
}

.btn-primary {
    background-color: #ff5733;
    border-color: #ff5733;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
  
.btn-primary:hover {
    background-color: #ff3300;
    border-color: #ff3300;
}
  
a {
    color: #ff5733;
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}

.with-icon {
    position: relative;
  }
  
  .with-icon input {
    padding-left: 40px; /* laisse de la place pour l’icône */
  }
  
  .with-icon .fa-user,
  .with-icon .fa-lock {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: orange;
  }
  
  .toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: orange;
    cursor: pointer;
  }
  